*{
  margin: 0;
  font-size: 14px;
  color: #333;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
  list-style-type: none;
}

.pageContainer{
  padding:25px 50px;
}

.commentContainer {
  padding:25px 50px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}